<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base title {% endblock %}</title>
</head>
<body>
    <div class="sidebar">
        {% block sidebar %}
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/articles">Статьи</a>
        </li>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>