{% extends "base.html" %}

{% block title %}Статьи{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Статьи:</h1>
    {% if articles %}
        {% for article in articles %}
            <h3>Статья {{ article.name }}.</h3>
            <a href="{% url 'articles:update' article_id=article.id %}"> Редактировать</a>
            <form action="{% url 'articles:delete' article_id=article.id %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="submit" value="Удалить">
                </div>
            </form>
            <p>{{ article.body }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h3>Тут пока пусто...</h3>
    {% endif %}
    
    <p>Хотите добавить статью?</p>
    <a href="{% url 'articles:create' %}">Добавить</a>

{% endblock %}